@(title: String)
<!doctype html>
<html ng-app="sctest">
 <head>
   <!--<script src="assets/angular.min.js"></script>-->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
   <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
   <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
   <!-- <link href="assets/css/bootstrap.css" rel="stylesheet">-->
   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
   <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
   <link href="assets/css/flat-ui.css" rel="stylesheet">
   <!--<script src="assets/ui-bootstrap-custom-0.4.0-SNAPSHOT.js"></script>-->
   <script src="assets/util.js"></script>
   <script src="assets/sctest.js"></script>
   <link href="assets/my.css" rel="stylesheet">
 </head>
 <body>
  <h1> Test</h1>
  <div ng-controller="scload">

     <!-- Sidebar -->
     <div class="header text-right">
      <a href="/logout"><i class="icon-home"></i>Logout</a>
     </div>

     <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
         <li ng-repeat="name in ruleset_names">
          <a href="#" class="" ng-click="loadruleset(name, ruleset_editor)" >{{name}}</a>
        </li>
       </ul>
       <a href="#" class="btn btn-warning" ng-click="on_add_ruleset()"><i class="icon-plus-sign"></i> Add ruleset</a>
     </div>

     <!-- End Sidebar -->

     <!-- Ruleset -->

     <div ng-show="ruleset_editor.ruleset_show" class="container span12">
       <h3>{{ruleset_editor.ruleset.name}}</h3>
       <ng-switch on="ruleset_editor.is_editing">
        <div ng-switch-when="true">
         <ul>
          <li ng-repeat="pattern in ruleset_editor.ruleset.patterns"> 
           <input ng-model="pattern.text"></input><a href="#" ng-click="removePattern(ruleset_editor.ruleset.patterns, pattern)" class="btn btn-danger">-</a>
          </li>
         </ul>
         <a href="#" ng-click="addPattern(ruleset_editor.ruleset.patterns)" class="btn btn-success"><i class="icon-plus-sign"></i> Add pattern</a>
         <a href="#" ng-click="set(ruleset_editor)" class="btn btn-success">Save ruleset patterns</a>
        </div>
        <div ng-switch-default>
         <div ng-repeat="pattern in ruleset_editor.ruleset.patterns">{{pattern.text}}</div>
         <a href="#" ng-click="edit(ruleset_editor)" class="btn btn-warning"><i class="icon-edit"></i> Edit ruleset patterns</a>
        </div>
       </ng-switch>

       <!-- Rules -->

       <h3>Rules:</h3>
       <a href="#" ng-click="add_rule(ruleset_editor.ruleset.rules, ruleset_editor)" class="btn btn-success">Add rule</a>
       <accordion close-others="true">
       <accordion-group ng-repeat="rule in ruleset_editor.ruleset.rules" class="span11">
          <accordion-heading>{{rule.id}}</accordion-heading>
          <ng-switch on="ruleset_editor.is_rule_editing">
          <!-- Editing rule content-->
          <div ng-switch-when="true">
           Provider: <input ng-model="rule.provider"></input>
           Class: <input ng-model="rule.rule_class"></input> <!-- TODO: select -->
          <table>
          <tr ng-repeat="pattern in rule.patterns"> 
            <td>
             <input ng-model="pattern.text" class="row span9"></input>
             <a href="#" ng-click="removePattern(rule.patterns, pattern)" class="btn btn-danger">-</a>
             <a href="#" ng-click="openEditor(pattern)" class="btn btn-warning">Use editor</a>
            </td>
           </tr>
          </table>
          <a href="#" ng-click="addPattern(rule.patterns)" class="btn btn-success">Add pattern</a>
          <h4>Tags:</h4>
           <ul>
             <li ng-repeat="rule_tag in rule.tags">
               <input ng-model="rule_tag.text"></input><a href="#" class="btn btn-danger" ng-click="removePattern(rule.tags, rule_tag)">-</a>
             </li>
           </ul>
          <a href="#" ng-click="addTags(rule.tags)" class="btn btn-success">Add tag</a>
          <a href="#" ng-click="set_rule(ruleset_editor)" class="btn btn-success">Save rule</a>
          </div>
          <!-- End Editing rule content-->

          <div ng-switch-default>
           <h3>Provider: {{rule.provider}} Class: {{rule.rule_class}}</h3>
           <h4>Patterns:</h4>
           <table class="table">
           <tr ng-repeat="pattern in rule.patterns"><td>{{pattern.text}}</td></tr>
           </table>
           <h4>Tags:</h4>
           <ul>
             <li ng-repeat="tag in rule.tags">{{tag.text}}</li>
           </ul>
           <a href="#" ng-click="edit_rule(ruleset_editor)" class="btn btn-warning">Edit rule</a>
           <a href="#" ng-click="removePattern(ruleset_editor.ruleset.rules, rule)" class="btn btn-danger">Remove rule</a>
         </div>
         </ng-switch>
       </accordion-group>
       </accordion>

       <!-- End Rules -->
       <div class="row span9">
         <a href="#" ng-click="on_save_ruleset(ruleset_editor.ruleset.name, ruleset_editor)" class="btn btn-success">Commit ruleset</a>
         <a href="#" class="btn btn-danger" ng-click="on_delete_ruleset(ruleset_editor.ruleset.name, ruleset_editor)">Delete ruleset</a>
       </div>
     </div>

     <!-- End Ruleset -->

    <!-- Modal pattern edit -->
    <div modal="is_pattern_editor_open" close="cancelEditor()" options="modal_opts">
        <div class="modal-header">
            <h4>Original pattern: {{ editing_pattern.text}}</h4>
        </div>
        <div class="modal-body">
      <h3 class="panel-title">Paste a log line here:</h3>
       <div class="row">
       <div class="span12">
        <input type="text" log-line ng-model="logelements" class="span12"/>
       </div>
       </div>
       <h3 ng-show="show_click_on_tokens" class="panel-title">Click on tokens to edit them:</h3>
       <div class="row">
        <div class="span"  ng-repeat="i in logelements">
          <a href="#" class="btn" ng-class="{ 'delimiter' : 'disabled', 'token':'btn-primary', 'parser':'btn-info'}[i.type]" ng-click="test_change(logelements, $event)" id="token_{{i.index}}">{{to_html(i.value)}}</a>
        </div>
       </div>
       <div ng-show="editing" class="span6">
        <h3 class="panel-title">Edit token attributes</h3>
          <div class="row">
          <h4 class="span6"> {{token.value}} -> @@{{selected_parser.name}}:{{parser_variable}}:{{parser_attributes}}@@ </h4>
         </div>
         <div class="row">
          <h4 class="span3"> Parser type:</h4>
          <select name="parser_select" ng-model="selected_parser" ng-options="parser.name for parser in parser_select" class="span3">
            <option value="">-- choose parser --</option>
          </select>
         </div>
         <div class="row">
          <h4 class="span3"> Parser variable name:</h4>
          <input type="text" ng-model="parser_variable" class="span3"/>
         </div>
         <div class="row">
          <h4 class="span3"> Parser attributes:</h4>
          <input type="text" ng-model="parser_attributes" ng-trim="false" class="span3"/>
         </div>
        <a href="#" class="btn btn-success" ng-click="save_item()">Set parser</a>
        <a href="#" class="btn btn-warning" ng-click="cancel_item()">Cancel token edit</a>
       </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning cancel" ng-click="cancelEditor()">Cancel</button>
            <button class="btn btn-success ok" ng-click="saveEditor()">Save</button>
        </div>
    </div>
  </div>
  <!-- End Modal pattern edit -->

  </div>

 </body>
</html>
