!!! 5
html(ng-app="sctest")
  head
    <!--<script src="assets/angular.min.js"></script>-->
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->
    script(src="http://code.angularjs.org/1.1.5/angular.min.js")
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet">-->
    script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js")
    link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet")
    link(href="assets/css/flat-ui.css" rel="stylesheet")
    <!--<script src="assets/ui-bootstrap-custom-0.4.0-SNAPSHOT.js"></script>-->
    script(src="assets/util.js")
    script(src="assets/ruleseteditor.js")
    script(src="assets/patternparsers.js")
    script(src="assets/sctest.js")
    link(href="assets/my.css" rel="stylesheet")
  body
    h1 Rulesets
    div(ng-controller="scload")
      .header.text-right
        = render("link.jade", Map( "href" -> "/logout", "icon_class" -> "icon-home", "caption" -> "Logout" ) )
        = render("link.jade", Map( "href" -> "/download", "icon_class" -> "icon-download", "caption" -> "Download" ) )
      .bs-docs-sidebar.span3
        ul.nav.nav-list.bs-docs-sidenav
          li(ng-repeat="name in ruleset_names")
            a(href="#" ng-click="ruleset_editor.load_ruleset(name)") {{name}}
        = render("button-add.jade", Map( "click" -> "on_add_ruleset()", "caption" -> "Add ruleset"))
      = render("ruleset_editor.jade")
