.container.span12(ng-show="ruleset_editor.ruleset_show")
  h3 {{ruleset_editor.ruleset.name}}
  ng-switch(on="ruleset_editor.is_editing")
    div(ng-switch-when="true")
      p
        | Url
        input(ng-model="ruleset_editor.ruleset.url" name="url")
      p  
        | Description
        input(ng-model="ruleset_editor.ruleset.description" name="desc")
      | Patterns
      ul  
        li(ng-repeat="pattern in ruleset_editor.ruleset.patterns")
          input(ng-model="pattern.text")
          a.btn.btn-danger(href="#" ng-click="remove_object(ruleset_editor.ruleset.patterns, pattern)")
            i.icon-minus-sign
      = render("button-add.jade", Map( "click" -> "add_string_object(ruleset_editor.ruleset.patterns)", "caption" -> "Add pattern"))
      a.btn.btn-success(href="#" ng-click="ruleset_editor.set()")
        i.icon-ok-circle
        | Save ruleset properties
    div(ng-switch-default)
      p
        | Url: {{ruleset_editor.ruleset.url}}
      p
        | Description: {{ruleset_editor.ruleset.description}}
      p 
        | Patterns
        div(ng-repeat="pattern in ruleset_editor.ruleset.patterns") {{pattern.text}}
      a.btn.btn-warning(href="#" ng-click="ruleset_editor.edit()")
        i.icon-edit
        | Edit ruleset properties
  h3 Rules:
  = render("button-add.jade", Map( "click" -> "ruleset_editor.add_rule()", "caption" -> "Add rule"))
  = render("rules.jade")
  .row.span9
    a.btn.btn-success(href="#" ng-click="ruleset_editor.save_ruleset()")
      i.icon-share
      | Commit ruleset
    a.btn.btn-danger(href="#" ng-click="ruleset_editor.delete_ruleset(refresh_name_list)")
      i.icon-minus-sign
      | Delete ruleset
  = render("editor.jade")
